/* ===== Background ===== */
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: linear-gradient(135deg, #ff9a9e, #fad0c4);
  height: 100vh;
  overflow: hidden;
}

/* ===== Page Layout ===== */
.page {
  position: absolute;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.hidden {
  display: none;
}

/* ===== Button ===== */
button {
  padding: 25px 35px;
  font-size: 25px;
  border: none;
  border-radius: 40px;
  background: #ff4b5c;
  color: white;
  cursor: pointer;
  transition: 0.3s;
  margin-top: 20px;
}

button:hover {
  background: #ff1e3c;
  transform: scale(1.1);
}

/* ===== Card (Trang 3) ===== */
.scroll-page {
  overflow-y: auto;
  padding: 40px;
}

.content-box {
  background: white;
  padding: 40px;
  border-radius: 20px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
  max-width: 600px;
  animation: fadeIn 1s ease forwards;
}

/* ===== Animation ===== */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.8);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

/* ===== Cute Background Wrapper ===== */
.cute-wrapper {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent; /* hoặc xóa luôn */
}

/* ===== Cute Card ===== */
.cute-card {
  background: #ffffff;
  padding: 40px;
  border-radius: 20px;
  width: 300px;
  text-align: center;
  box-shadow: 0 15px 40px rgba(0, 0, 0, 0.2);
  animation: fadeIn 0.8s ease forwards;
}

.cute-card h2 {
  margin: 30px 0 30px;
}

.cute-card p {
  font-size: 20px;
  color: rgb(3, 3, 3);
  margin-bottom: 40px;
}

.cute-image {
  width: 200px;
  height: 200px;
  margin: 0 auto 20px;
}

/*chỉnh ảnh bo tròn*/
.cute-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
}

.video-box {
  margin-top: 30px;
  text-align: center;
}

.video-box video {
  width: 120%;
  max-width: 500px;
  border-radius: 30px;
}
